[user]
	name = Cody Spriggs
	email = cody.spriggs@daveramsey.com
	username = cspriggs220
[alias]
	amend = commit --amend # note the no-edit `touch` below
	pf = push --force-with-lease
	touch = commit --amend --no-edit
	ninja = !git touch && git pf # AKA "what_i_mean_was"
[diff]
	tool = vscode
	renames = true
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
	ff = only
[branch]
	autosetuprebase = always
[push]
	default = current # assumes the current branch when pushing, creating that branch on origin if it doesn't exist
[pull]
	rebase = true
[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
[core]
	editor = code --wait
	# excludesfile = .vscode/
# check that anything we're getting is complete and sane on a regular basis
[transfer]
	fsckobjects = false
[fetch]
	fsckobjects = false
[receive]
	fsckobjects = false
